#map {
    width:800px;
    height: 500px;
}

.infoBox {
    padding: 10px;
}

.infowindow-heading {
    color: #2E67B1;
    font-family: Gill Sans, Verdana;
    font-weight: normal;
    font-size: 18px;
}

.infotext {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    height: 100px;
    overflow-y: scroll;
}

.side-slideshow {
    width: 100px;
    height: 100px;
}

.sideframe {
    float: right; 
}

.clearfix {
    clear: both;
}
